//color
$colorMainColor: #FF4E40;
$colorAuxiliaryOrange1: #F93D2E;
$colorAuxiliaryOrange2: #FE6546;
$colorAuxiliaryPink: #FBE9E7;
//text
$colorImportantText: #202020;
$colorAuxiliaryText: #666666;
// line
$colorPartitionLine: #E8E8E8;
